<!DOCTYPE html>
<html>
<head>
    <title>📊 Reportes Belleza Pura</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>📊 Dashboard de Ventas - Belleza Pura 💄</h1>

    <p>Aquí podrás visualizar el desempeño general del negocio 🚀</p>

    <div class="dashboard">
        <iframe width="1100" height="650"
        src="https://app.powerbi.com/view?r=eyJrIjoiZDhkYWZiNDItOTU0NS00MTRlLTg4ZmYtYTljZGMyY2Q5ZjA5IiwidCI6IjRmMWUwNDRkLTNkNzAtNDk5MC1iMjZhLWI5NWYwYzY0MmUxYSIsImMiOjR9">
        </iframe>
    </div>

    <a class="boton" href="/">⬅ Volver a Registrar Venta</a>

</body>
</html>

